<!DOCTYPE html>
<html>
<head>
  <title>Cozinha Caipira Webdocumentário</title>
  
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag 'application', media: 'all',
                                         'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
    crossorigin="anonymous">
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs_aug6OU5RKfHSyzyHeecjH4jRjfo6Fc&callback=initMap"
async defer></script>

<script src="https://www.youtube.com/iframe_api" async defer></script>

<!-- PRESTAR ATENÇÃO NESSA LINHA-->
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    
<body id="home" data-spy="scroll" data-target="navbar" 
      data-offset="50" padding-top="50">
  

  <%= render 'layouts/header'%>
  <%= render 'layouts/player'%>
  <%= render 'layouts/map'%>
  <%= render 'layouts/videos'%>
  <%= render 'layouts/about'%> 

<script>

</script>
</body>
</html>