@import "bootstrap-sprockets"
@import "bootstrap"
@import partials/colors
@import url(http://fonts.googleapis.com/css?family=Open+Sans)

$phone-w: 640px
$tablet-w: 768px
$desktop-w: 1024px !default

@media screen and (max-width: $phone-w) 
  html  
    font-size: 8px 
    
@media screen and (min-width: $phone-w) and (max-width: 769px) 
  html  
    font-size: 12px 

html
  max-width: 100vw
  font-size: 16px
  .container-fluid
    padding: 0

.row
  margin: 0 auto
  padding: 1.5em
    
body 
  font-family: 'Open Sans', sans-serif
  padding: 0
  padding-right: 0px !important // Stop modal changing width
  
#player-div *
  @media (min-width: 1280px)
    overflow-y: hidden !important// Stop modal changing width 

body.modal-open 
  overflow: hidden !important

.modal-open 
  overflow-y: auto !important// Stop modal changing width 

.center 
  text-align: center

.no-pad 
  padding: 0px
  

/* COLORS *****************************************************/

.bg-light 
  background-color: #fff

.bg-red 
  background-color: $ferra

.bg-wine 
  background-color: $livid-brown

.bg-dark 
  background-color: $cocoa-brown

.font-red 
  color: #a33b1f

.font-brown 
  color: #35292b

/* typography *************************************************/

h1 
  font-size: 3em
  
h2
  font-size: 2.25rem
  
h3
  font-size: 1.5rem
  

