@import partials/colors

#map-div
  .row
    height: 100%
  #info-display
    .thumbnail
      height: 100%
      
  #synopsis
    text-align: left
    #navegue
      margin: 0 auto !important
      text-align: center
      
  #watch-sub-episode
    position: absolute
    bottom: 0.7rem
    left: 50% - 12.5%
    display: none
    font-size: 1rem
    .glyphicon
      margin-right: 0.5rem
    
  #cover-img
    display: none
    max-width: 90%
  
@media screen and (max-width: 640px) 
  #map-div
    height: 100%
    #map-col
      #map
        height: 15rem
    #info-display 
      height: 100%
      padding-top: 4rem
      
@media screen and (min-width: 768px) 
  #map-div 
    padding: 0
    height: 100vh
    #map-col 
      height: 100%
      #map 
        background-color: #fff
        height: 100%
    #info-display 
      text-align: center
      height: 100%
      .thumbnail
        position: relative
        padding: 1rem 
        height: 100%
          
          