// Allows content-btns: absolute
#player-container
  position: relative
  
#player-div
  position: relative
  max-width: 100vw
  max-height: 100vh
  padding: 0
  
  a
    position: absolute
    z-index: 99
    display: none
    color: #fff !important
    
  a:hover
    text-decoration: none
    cursor: pointer
    
  .map-button
    font-size: 5rem
    color: #fff
  
#youtube 
  padding: 0
  max-height: 100vh
  max-width: 100vw
  
.glyphicon-remove
  color: red


// Modal =========================================
#playerModal
  position: absolute 
  top: 2.5rem
  height: auto
    
.modal-body
  padding: 2rem
  line-height: 1rem
  overflow: hidden
  @media (max-width: 768px)
    font-size: 1rem
    padding: 0.5rem
  
.flex-body
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding-bottom: 3rem
  max-width: 100%
  @media (max-width: 768px)
    padding-bottom: 2rem
  
.howto-item
  padding: 1%
  padding-top: 0.2rem
  flex: 1 30%
  text-align: center
  font-size: 1.2rem
  line-height: 1.8rem
  .glyphicon
    font-size: 8rem
    padding-bottom: 0.5rem
  @media (max-width: 768px)
    .glyphicon
      font-size: 3rem
  @media (max-width: 480px)
    flex-basis: 100%
   
.modal-header
  text-align: center
  font-size: 2rem
  font-weight: bold
  @media (max-width: 768px)
    font-size: 1.5rem

// Content Btns ====================================
.content-btn
  padding: 0.7rem
  background-color: rgba(0, 0, 0, 0.6)
  color: rgba(1, 1, 1, 0.8)
  font-weight: bold
  font-size: 1.6rem
  position: absolute
  z-index: 999
  text-decoration: none
  @media (max-width: 768px)
    font-size: 1rem
    
.content-btn:hover
  box-shadow: 1px 1px 2px rgba(#fff, .2)
  text-shadow: -1px -1px 0 darken(black, 9.5%)
  background-color: rgba(0, 0, 0, 0.8)
  color: rgba(1, 1, 1, 0.6)
  transition: all 250ms linear
  
.content-btn:active
  background-color: rgba(1, 1, 1, 0.4)
  color: rgba(1, 1, 1, 0.3)
