#videos
  .h1
    text-align: center
    padding: 1em
    color: #000 !important
    
  .flex-container 
    display: -webkit-flex
    display: -moz-flex
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-around
    padding-top: 2.5rem 
  
  .flex-item
    flex: 0 28%
    margin-top: 3rem
    text-align: center
    font-weight: bold
    color: #666161
    height: 31vh
    overflow: hidden
    position: relative
    @media (max-width: 768px)
      flex: 0 40%
      height: 30vh
      font-size: 1rem
      
  .index-btn
    box-shadow: 0rem 0.4rem 0.2rem -0.2rem rgba(1, 1, 1, 0.6)
    
  .index-btn:after
    border-radius: 0.4rem
    position: absolute
    content: ""
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    background-color: white
  .index-btn:hover:after
    opacity: 0.07
  .index-btn:active
    top: 0.2rem
    box-shadow: 0 0 0 0 #000
  
  a
    position: absolute
    z-index: 2
    color: #fff !important
    top: 50%
    left: 50%
    font-size: 2rem
    -webkit-transform: translate(-50% -50%)
    margin: 0
    text-shadow: 0 2px 2px #000
    @media (max-width: 980px)
      font-size: 1.5rem
      top: 27%
      left: 3px
    
  a:hover
    text-decoration: none
    cursor: pointer
  a:visited
    text-decoration: none
    
  img
    border-radius: 0.4rem
    border: 0.4rem #fff
    height: 31vh
    width: 100%
    object-fit: none
    object-position: 50% 50%
      
  .thumbnail:hover 
    opacity: 1
    
  
@media screen and (min-width: 980px)
  #videos
    height: 100vh
    
    
    