#sobre.bg-wine
  #sobre-container
    = image_tag('logo.png', class: "aboutlogo", size: "150x150")
    .sobre-text
      <p> Cozinha Caipira é um webdocumentário sobre a culinária tradicional de São Paulo.  
      <br><br>O site reúne 6 episódios em vídeo, gravados em diferentes regiões do estado, mostrando receitas tradicionais e o modo de vida de ilustres paulistas. 
      <br><br>O sistema do webdoc permite que os usuários interajam e colaborem, publicando conteúdos na plataforma. 
      </p><br>
      <a target = "_blank" href = "http://www.doctela.com.br/webdoc">Saiba mais sobre webdocumentários</a>
      </p><br> 
    #patrocinio.sobre-item
      .item
        %h3 Produção
        = image_tag('doctela.png', class: "about-logos")
      .item
        %h3#hide ProacSP
        = image_tag('proacsp.png', class: "about-logos")
      .item
        %h3 Realização
        = image_tag('cultura.png', class: "about-logos")
