#main-navbar
  %a{href: "#home"}
    = image_tag('navlogo.png', id: "navlogo", size: "150x150")
  #navicons-container
    %a{href: "#home"}
      %span#nav-home-icon.glyphicon.glyphicon-home.small-icon
    %a{href: "#map-div"}
      %span.glyphicon.glyphicon-globe.small-icon
    %a{href: "#videos"}
      %span.glyphicon.glyphicon-list.small-icon
    %a{href: "#sobre"}
      %span.glyphicon.glyphicon-info-sign.small-icon
      