#playerModal.modal.fade{"tab-index" => "-1", role: "dialog"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %button#closeModal.close{"data-dismiss" => "modal", "aria-label" => "Close"}
          %span{"aria-hideen" => "true", class: "glyphicon glyphicon-remove"}
        #modalTitle.modal-title O Webdoc
      #modalBody.modal-body
        .flex-body
          .howto-item
            %span.glyphicon.glyphicon-globe{style: "color: black; margin: 1rem"}
            %p Veja no mapa os locais de filmagem
          .howto-item
            %span.glyphicon.glyphicon-film{style: "color: black; margin: 1rem"}
            %p Conteúdo simultâneo
          .howto-item
            %span.glyphicon.glyphicon-user{style: "color: black; margin: 1rem"}
            <p> Cadastre-se e contribua <br> (em breve) </p>
        %button#howto.btn.btn-info{style: "position:absolute; right: 2rem; bottom: 1.5rem",
        "data-dismiss" => "modal", "aria-label" => "Close"}
          Ok
#player-div 
  #player-container.embed-responsive.embed-responsive-16by9
    #youtube
